python_dotenv
pypdf
langchain
langchain_openai
langchain-community 
langchain-core
langchain_ollama
docarray
pydantic
streamlit
langserve
fastapi
uvicorn
sse_starlette
chromadb
faiss-cpu
langchain_ollama
sentence_transformers
